<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!--
		http://www.mybatis.org/core/configuration.html#settings
	 -->
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>

	<typeAliases>
		<typeAlias alias="buildingInfo" type="com.nagesoft.postcode.model.BuildingInfo"/>
		<typeAlias alias="nageBooleanTypeHandler" type="com.nagesoft.postcode.core.handler.BooleanTypeHandler" />
	</typeAliases>

	<typeHandlers>
		<typeHandler javaType="Boolean" jdbcType="VARCHAR" handler="nageBooleanTypeHandler" />
	</typeHandlers>

</configuration>
